$primary: rgb(156, 70, 173);
$secondary: rgb(107, 114, 119);
$success: rgb(42, 126, 42);
$info: rgb(137, 199, 211);
$warning: rgb(243, 203, 83);
$danger: rgb(185, 34, 8);
$light: rgb(247, 247, 247);
$dark: rgb(45, 51, 56);

// Validation
$enable-validation-icons: false;
